<div class="container">
  <div class="row">
    <div class="col align-self-end" style="text-align: right; padding-right: 60px; padding-top: 50px">
      <button class="btn btn-info" data-toggle="modal" data-target="#newTask">Add</button>
    </div>
  </div>
  <div class='row padding-20'>
    <div class='col padding-20 group-task margin-40'  [dragula]='"bag"'>
      <h4 class="header" id="0">Planned</h4>
      <div class="estimated"> Estimated: {{task_planned_time}} hours</div>
      <div *ngFor="let task of tasks_planned">
        <card [task]="task" id="{{task.id}}" (uploaded)="refresh($event)"></card>
      </div>
    </div>
    <div class=' col padding-20 group-task margin-40'  [dragula]='"bag"'>
      <h4 class="header" id="1">In Progress</h4>
      <div class="estimated"> Estimated: {{task_progress_time}} hours</div>

      <div *ngFor="let task of tasks_progress">
        <card [task]="task" id="{{task.id}}" (uploaded)="refresh($event)"></card>
      </div>
    </div>
    <div class=' col padding-20 group-task margin-40' [dragula]='"bag"'>
      <h4 class="header" id="2">Completed</h4>
      <div class="estimated"> Estimated: {{task_completed_time}} hours</div>

      <div *ngFor="let task of tasks_completed">
        <card [task]="task" id="{{task.id}}" (uploaded)="refresh($event)"></card>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group">

            <input [(ngModel)]="new_task.name" placeholder="Title" class="form-control">
            <input [(ngModel)]="new_task.description" placeholder="Description" class="form-control">
            <input [(ngModel)]="new_task.estimate" placeholder="Expected Time (in hours)" type="number" class="form-control" min="0" max="100">
            <select name="state" [(ngModel)]="new_task.state" class="form-control">
              <option value="0">Planned</option>
              <option value="1">In Progress</option>
              <option value="2">Completed</option>
            </select><br>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
